.surround-footer
  .container
    .footer
      %ul
        %li
          %a(href='/')
            Home
        %li
          %a(href='/')
            Email Us
        %li
          %a(href='/')
            Services
        %li
          %a(href='/')
            Portfolio
        %li
          %a(href='/')
            Sitemap
