.surround-top
  .container
    .header
      .highlight
        .current
      %a.logo(href="/")
        IPS Solutions
      %ul.nav
        %li#aboutus
          = link_to("ABOUT US", "/welcome/aboutus")
        %li#contact
          = link_to("CONTACT", "/welcome/contact")
        %li#services
          = link_to("SERVICES", "/welcome/services")
        %li#portfolio
          = link_to("PORTFOLIO", "/welcome/portfolio")
