.surround-middle
  .container
    .spark
      %h2
        Property Maintenance &amp; Building Management. IPS Strata Solutions is a Sydney based strata and commercial cleaning company. 
      .contact-information
        .number
          (02) 9703 6850
        .email
          %a(href='mailto:main@ipssolutions.com.au' target='_blank')
            mail@ipssolutions.com.au
        .info
          %p
            We offer competitive prices.<br/>
            Please get in touch with us for a quote today.

