.surround-middle
  .container
    .spark
      %h2
        Flexitarian exercitation stumptown, tempor craft beer nihil polaroid occupy photo booth brooklyn ethical twee incididunt.
      .contact-information
        .number
          1800 123 456
        .email
          %a(href='mailto:main@ipssolutions.com.au' target='_blank')
            main@ipssolutions.com.au
        .info
          %p
            Feel free to call or email us.<br />
            This is some other random text that goes here.

.surround-bottom
  .container
    .content
      %p
        Content goes here
      .focus
        .ornament
          .arrow
          .stripe
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
    .aside
      The aside
