.content

  %address
    IPS Strata Solutions<br />
    PO Box 126<br />
    ENFIELD NSW 2136<br />

  %p
    Please do not hesitate to call us for an obligation-free quote. We are happy to discuss your cleaning requirements and can come up with a solution suited to your needs. 

  %p
    For all enquiries, please contact us via:   

  %address
    Phone: (02) 9703 6850<br />
    Fax: (02) 9703 6850<br />
    Mobile: 0415 888 009<br />
    Email: <a href="sebastian@ipssolutions.com.au" target="_blank">sebastian@ipssolutions.com.au</a><br />

  %form 
    Full name<br />
    Email Address<br />
    Contact Number<br />
    Company<br />
    Address<br />
    Enquiry<br />

= render "aside"
