// Backgrounds are applied through full width divs which surround the lucid containers
.surround-top
  .container
    .header
      .highlight
        .current
      %ul.nav
        %li
          Logo
        %li.current
          About us
        %li
          Contact
        %li
          Services
        %li
          Portfolio

.surround-middle
  .container
    .spark
      Spark goes here

.surround-bottom
  .container
    .content
      Content goes here
    .aside
      The aside

.surround-footer
  .container
    .footer
      This is the footer
