// Backgrounds are applied through full width divs which surround the lucid containers
.surround-top
  .container
    .header
      .highlight
        .current
      .logo
        IPS Solutions
      %ul.nav
        %li.current
          %a(href="http://www.google.com")
            ABOUT US
        %li
          %a(href="http://www.google.com")
            CONTACT
        %li
          %a(href="http://www.google.com")
            SERVICES
        %li
          %a(href="http://www.google.com")
            PORTFOLIO

.surround-middle
  .container
    .spark
      %h2
        Flexitarian exercitation stumptown, tempor craft beer nihil polaroid occupy photo booth brooklyn ethical twee incididunt.

.surround-bottom
  .container
    .content
      Content goes here
    .aside
      The aside

.surround-footer
  .container
    .footer
      This is the footer
