.content
  %p
    IPS Strata Solutions is a Sydney based strata and commercial cleaning company. We aim to provide 100% satisfaction to our clients by providing timely, high quality and cost effective cleaning solutions. 
  .focus
    We are experts in servicing all common areas of strata residential units, commercial and office cleaning, carpet cleaning, pressure cleaning, gardening, rubbish removal and handyman work. 
    .ornament
      .arrow
      .stripe

  %p
    Our policy is to provide the best quality cleaning solution to your property.  

  %p
    IPS Strata Solutions is an accredited Trades Monitor contractor.
  %p.note
    Being an accredited contractor ensures our clients that we have been verified as having up to date, relevant and correct insurances, licences and ABNs. It also ensures that we meet compliance requirements for OH&S Acts and Regulations by means of an assessment process. For more information on Trades Monitor please click here.

= render "aside"
