// Backgrounds are applied through full width divs which surround the lucid containers
.surround-top
  .container
    .header
      .highlight
        .current
      .logo
        IPS Solutions
      %ul.nav
        %li#aboutUs.current
          %a(href="http://www.google.com")
            ABOUT US
        %li#contact
          %a(href="http://www.google.com")
            CONTACT
        %li#services
          %a(href="http://www.google.com")
            SERVICES
        %li#portfolio
          %a(href="http://www.google.com")
            PORTFOLIO

.surround-middle
  .container
    .spark
      %h2
        Flexitarian exercitation stumptown, tempor craft beer nihil polaroid occupy photo booth brooklyn ethical twee incididunt.
      .contact-information
        .number
          1800 123 456
        .email
          %a(href='mailto:main@ipssolutions.com.au' target='_blank')
            main@ipssolutions.com.au
        .info
          %p
            Feel free to call or email us.<br />
            This is some other random text that goes here.

.surround-bottom
  .container
    .content
      %p
        Content goes here
      .focus
        .ornament
          .arrow
          .stripe
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
        This is the focus of this page and that is cool.
    .aside
      The aside

.surround-footer
  .container
    .footer
      %ul
        %li
          %a(href='/')
            Home
        %li
          %a(href='/')
            Email Us
        %li
          %a(href='/')
            Services
        %li
          %a(href='/')
            Portfolio
        %li
          %a(href='/')
            Sitemap
