.container
  .header
    %ul.nav
      %li
        Logo
      %li
        About us
      %li
        Contact
      %li
        Services
      %li
        Portfolio

  .spark
    Spark goes here
  .content
    Content goes here
  .aside
    The aside
