.content
  %p
    Content goes here
  .focus
    .ornament
      .arrow
      .stripe
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.
    This is the focus of this page and that is cool.

= render "aside"
