.content
  %p
    Over 30% of our business comes from client referrals.

  %p
    We are proud to service some of the most reputable companies in their fields, as well as many satisfied private customers.

  %p
    We are so committed to our excellent service that we encourage you to contact our clients and ask them for a testimonial of our services.


  .focus
    %p
      Clients of ours include:
    %ul
      %li
        Prolet
      %li
        NIR Technology
      %li
        Premium Strata
      %li
        Strathfield Strata
      %li
        Net Strata
      %li
        BCSSN
      %li
        Innovative Production Services
      %li
        Vision International Forwarding
      %li
        Star East International
      %li
        Sam Nasti Solicitors
    .ornament
      .arrow
      .stripe

= render "aside"
