.content
  .focus
    %p
      We perform:    

    %ul.services
      %li
        Strata cleaning
      %li
        Commercial cleaning
      %li
        Carpet cleaning
      %li
        Pressure cleaning
      %li
        Graffiti removal
      %li
        Gardening
      %li
        Rubbish removal
      %li
        Handyman work 
    .ornament
      .arrow
      .stripe

  %p
    IPS Strata Solutions is quickly building up a reputation for delivering quality service and timely solutions for the maintenance needs of property managers and commercial customers.

  %p
    If you would like to speak to us about organising repair work or create an on-going maintenance plan, please do not hesitate to contact us.

  %p
    Our services can be fully customised to meet your needs and budget. You can decide on the frequency, duration and time of any of the services we provide.


= render "aside"
