// _general/_layout.sass

// Grid dimensions
$grid-width: 972px
$grid-columns: 12

// The amount of margin to apply to each side of a grid element
$grid-gutter: 16px

// The distance between the grid container and the first grid element
$grid-outer-gutter: 16px

// Use "pie-clearfix", "overflow", or "none"?
$grid-clearfix: "pie-clearfix"

// Center rows?
$grid-centering: true
// Include Lucid
@import lucid

// Output 4 CSS classes that Lucid uses as @extend "hooks"
@include grid-init

$height-top: 238px
$height-middle: 272px

.surround-top, .surround-middle, .surround-bottom, .surround-footer
  width: 100%
.surround-top
  background: transparent asset_url("repeat_bg_top.png", image) repeat-x top left
  height: $height-top
.surround-middle
  background: transparent asset_url("repeat_bg_middle.png", image) repeat-x top left
  height: $height-middle
.surround-bottom
  background: $theme-color
  height: 100%
.surround-footer
  background: white

.container
  +container

.header
  +columns(12)
  height: $height-top
  position: relative

.highlight
  +columns(12, 0, 0)
  +box-shadow($nav-current-shadow 0px 0px 12px)
  background: white
  height: 4px
  position: absolute
  left: 0
  bottom: 0
  .current
    +box-shadow($nav-shadow 0px 0px 6px)
    position: absolute
    top: 0
    left: 10px
    width: 159px
    height: 4px
    background: $theme-color asset_url("menu_nav_highlight.png", image) repeat-x top left

.nav
  position: absolute
  top: 124px
  left: 0
  li
    +float(left)
    width: 159px
    height: 100px
    &.current
      +box-shadow($nav-current-shadow 0px 0px 12px)
      background: $theme-color asset_url("menu_nav_current.png", image) repeat-x top left

.highlight
  

.spark
  +columns(12)

.spark
  +columns(12)

.content
  +columns(8)

.aside
  +columns(4)

.footer
  +columns(12)
