// _general/_type.sass

@import url(http://fonts.googleapis.com/css?family=Ropa+Sans)

$font-family-normal: Helvetica, Arial, sans-serif
$font-family-special: 'Ropa Sans', Futura, Impact, sans-serif


$font-size-normal: 13px
$font-size-medium: 16px
$font-size-large: 30px

body
  font-family: $font-family-normal
  font-size: $font-size-normal
  font-weight: 300

a
  text-decoration: none

h1, h2, h3
  font-family: $font-family-special
  font-size: $font-size-large
  line-height: 40px
