/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass
@import compass/reset

@import _general/layout

.title
  background: blue
  +columns(1)
.description
  background: yellow
  +columns(1)
.other
  background: green
  +columns(1)
